html{
    font-size: 62.5%;
}

body{
padding: 0;
margin: 0;
box-sizing: border-box;
position: relative;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}




//// header ////

.header{
z-index: 1;
    background-color: rgb(65, 119, 189);
    padding: 3rem;
    font-family: tahoma;
    font-size: 1.8rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__brand{

    }

    &__nav{
        list-style: none;
        
    }

    &__link{
        display: inline-block;
        padding: 1rem;
    }
    &__btn,&__btn:link,&__btn:visited{
        text-decoration: none;
        color: white;
        background-color: rgb(130, 159, 214);
        padding: 1rem 3rem;
        border-radius: 4px;
        font-size: 1.4rem;
        font-weight: bold;
        transition: all .2s;
        &:hover{

            background-color: rgb(149, 172, 214);

        }
    }
}



////////////////////////////
.container{
opacity: 0;
    visibility: hidden;

    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: rgba(#000, .40);


}
//////fonction ////
.container:target{
visibility: visible;
opacity: 1;

}
//// login ////
.login {
    background-color: white;
display: flex;
flex-direction: column;
padding: 3rem;
gap:2rem;
width: 400px;
box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.26);
position: relative;


&__close,&__close:link,&__close:visited{
font-size: 3rem;
text-decoration: none;
color: gray;
position: absolute;
top: .4rem;
right: 1.2rem;
transition: all .2s;
&:hover{

    color: rgb(85, 78, 78);


}

}

&__title{
   text-align: center;
   font-size: 2.8rem;
   font-family: tahoma;
   font-weight: 300;

}

&__info{
    width: 100%;


}
&__form{


}
&__input{
    width: 100%;
    height: 4.5rem;
    outline: none;
    background-color: rgb(232, 234, 241);
    border: 1px solid rgb(225, 226, 230);
    margin-bottom: 2rem;
    padding: 2rem;
    color: black;
    font-size: 1.6rem;

}

&__user{

}

&__btn{
height: 4.7rem;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: tahoma;
    outline: none;
    background-color: rgb(143, 202, 144) ;
    border: none;
    cursor: pointer;
    color: rgb(49, 43, 87);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.66);
    transform: translateY(0);
    transition: all .2s;
    
    &:hover{
        background-color: rgb(141, 175, 142) ;
transform: translateY(-2px);
    
    }


}

&__password,
&__password:link,&__password:visited{

    text-decoration: none;
    font-size: 1.8rem;
    color: rgb(80, 77, 77);
    font-family: tahoma;

}





}





